a{
  text-decoration: none;
}
body{
  width:100%;
  font-size:18px;
  font-family: "Montserrat","游ゴシック",YuGothic,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;
color: #333;
}
#topbar{
  background: #f8f6f5;
  padding: 10px 5vw;
  font-size:20px;
  display:flex;
  justify-content:space-between;
  align-items: flex-end;
}
#topbar .toplogo img{
  width:240px;
}
#topbar a{
  text-decoration: none;
  color:#333;
}
@media (max-width: 991px) {
  #topbar{
    flex-direction: column;
    align-items: flex-start;
  }
  #topbar div:last-child{
    margin-top:9px;
    
  }
}
@media (max-width: 667px) {
  #topbar{
    flex-direction:row;
  }
  #topbar div:last-child{
    align-self:flex-end;
  }
  #topbar span{
    display:block;
  
  }
}
@media (max-width: 500px) {
  #topbar{
    flex-direction:column;
  }
  #topbar div:last-child{
    align-self:flex-start;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
#header{
  height:70px;
  display: flex;
  align-items:center;
  background:white;
}
.header-box{
  margin: 0 5vw;
}
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  justify-content: flex-start;
  align-items: center
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 20px;
  font-size: 18px;
  color: #65534c;
  white-space: nowrap;
  text-transform: uppercase;
  transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #548c3a;
}

.navbar .getstarted,
.navbar .getstarted:focus {
  background: #548c3a;
  padding: 8px 20px;
  margin-left: 30px;
  border-radius: 4px;
  color: #fff;
}

.navbar .getstarted:hover,
.navbar .getstarted:focus:hover {
  color: #fff;
  background: #fd490f;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 16px;
  text-transform: none;
  font-weight: 500;
  color: #581601;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
  color: #548c3a;
}

.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}
/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #2b2320;
  font-size: 34px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 1200px) {
  #header{
    justify-content: flex-end;
  }
  .navbar{
    justify-content: flex-end;
  }
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(14, 11, 10, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 18px;
  color: #581601;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: #548c3a;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
  color: #548c3a;
}

.navbar-mobile .dropdown>.dropdown-active {
  display: block;
}
/*--------------------------------------------------------------
# slider Menu
--------------------------------------------------------------*/
.carousel-item .img-fluid{
  width:100%;
}
/*--------------------------------------------------------------
# policy Menu
--------------------------------------------------------------*/
.policy{
  padding-bottom:60px;
}
.policy-block{
  display:flex;
  flex-direction: row;
  justify-content:space-around;
  align-items:stretch;
  background:#f3f1f0;
  padding-bottom:20px;
}
.policy-block>div:first-child{
  padding:2vw 2vw 2vw 5vw;
  flex-shrink:1;
  /*background-color:pink;*/
}
.policy-block>div:last-child{
  width:340px;
  /*background-color:yellow;*/
}
.policy p{
  font-size:1.2rem;
}
.policy h3{
  font-weight: bold;
}
.policy h3 span {
  color: #548c3a;
  
}
.policy-block-first{
  display:flex;
  flex-direction:column;
}
.policy-block-first  > *:last-child{
  align-self:flex-end;
  text-align:right;
}
.policy-block-first  > *:last-child p:first-of-type{
  font-size:30px;
}
.policy-btn-container{
  padding:2vw 1vw;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  align-items:center;
}
.policy-btn{
  color:white;
  font-size:24px;
  display:block;
  width:300px;
  padding:7px 0;
  text-align:center;
  border:1px solid #333;
}
.policy-btn {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 25px;
  border-radius: 2px;
  transition: 0.4s;
  margin: 10px;
  border-radius: 4px;
  border: 2px solid #548c3a;
  color: #548c3a;
  background: #fff;
}

.policy-btn:hover {
  background: #548c3a;
  color: #fff;
}

@media (max-width: 1120px) {
  .policy-block {
    flex-direction: column;
  }
  .policy-block-first  > *:last-child{
    align-self:center;
    margin-top:5vh;
  }
  .policy-block>div:last-child{
    width:100%;
  }
}

.section-title {
  padding-bottom: 30px;
  text-align: center;
}

.section-title h2 {
  font-size: 28px;
  font-weight: 300;
  margin-bottom: 20px;
  padding-bottom: 0;
  color: #65534c;
}

.section-title h2 strong {
  font-weight: 700;
}

.section-title p {
  margin-bottom: 0;
  padding:0 10vw;
}
/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
#services{
  margin-bottom:30px;
}
#plans{
  display:flex;
  justify-content: space-between;
  flex-wrap:wrap;
}
@media (max-width: 1200px) {
  #plans{
    padding-left:5vw;
    padding-right:5vw;

  }
}
@media (max-width: 993px) {
  #plans{
    flex-direction: column;
    align-items:center;

  }
}
#plans > div{
  flex-basis:31%;
  min-width:350px;
}
.services .icon-box {
  display:flex;
  flex-direction:column;
  align-items:center;
  padding: 50px 20px 20px;
  margin-top: 35px;
  margin-bottom: 25px;
  text-align: center;
  border: 1px solid #ebe6e4;
  position: relative;
  background: #faf9f8;
}
.services .icon-box > div:last-child{
  margin-top:auto;
  text-align:center;
}
.services #firstBG{
  background-image: url(../../../images/kazoku/kazoku4.png);

}

.services .icon {
  position: absolute;
  top: -36px;
  left: calc(50% - 36px);
  transition: 0.2s;
  border-radius: 50%;
  border: 6px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 72px;
  height: 72px;
}
#plans> div:first-child .icon{
  background:#ea954a;;
}
#plans >div:nth-child(2) .icon{
  background:#548c3a;
}
#plans >div:nth-child(3) .icon{
  background:#006699;
}


.services .icon i {
  color: #fff;
  font-size: 46px;
  line-height: 0;
}
.th_img img{
  width:100%;
}

.services .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 28px;
  color:#574741;
}
#plans div:first-child .title{
  color:#ea954a;;
}
#plans div:nth-child(2) .title{
  color:#548c3a;
}
#plans div:nth-child(3) .title{
  color:#006699;
}
.services .title small{
  font-size:13px;

}
#plans a{
  display:flex;
}

.services .title a {
  color: #343a40;
}




.services .icon-box:hover .title a {
  color: #548c3a;
}

.services .description {
  color: #343a40;
  line-height: 1.7;
  font-size: 18px;
  text-align: left;
}
.plans-btn {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 25px;
  border-radius: 2px;
  transition: 0.4s;
  margin: 10px;
  border-radius: 4px;
  background: #fff;
}

.plans-btn.first {
  border: 2px solid #ea954a;
  color: #ea954a;
}
.plans-btn.second {
  border: 2px solid #548c3a;
  color: #548c3a;
}
.plans-btn.third {
  border: 2px solid #006699;
  color: #006699;
}

.plans-btn.first:hover {
  color:white;
  background-color: #ea954a;
}
.plans-btn.second:hover {
  color:white;
  background-color: #548c3a;
}
.plans-btn.third:hover {
  color:white;
  background-color: #006699;
}


#plans >div:first-child>div:last-child:hover .icon i{
  color:#ea954a;;
}
#plans >div:nth-child(2)>div:last-child:hover .icon i{
  color:#548c3a;
}
#plans >div:nth-child(3)>div:last-child:hover .icon i{
  color:#006699;
}
/*--------------------------------------------------------------
# hall Details
--------------------------------------------------------------*/
#hall .justify-content-center img{
  width:100%;
  display: block;
}
#hall .justify-content-center img:first-child{
  margin-bottom:30px;
}